[submodule "tests/kyber"]
	path = crystals-cref/kyber
	url = https://github.com/pq-crystals/kyber.git
[submodule "tests/dilithium"]
	path = crystals-cref/dilithium
	url = https://github.com/pq-crystals/dilithium.git
